body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


html {
	overflow-x:hidden;
	overflow-y:scroll;
}
body {
	-moz-background-size:100% auto;
	background-attachment:fixed;
	background-color:#666;
	/*background-image:url("../images/background.jpg");*/
	background-position:center center;
	font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2, h3, h4, h5, h6 {
	color:#333333;
}
p, h2, h3, h4, h5, h6, ul {
	margin:0;
}
a {
	/*color:#000000;*/
	color: #3B98C7;
	text-decoration:none;
	
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

/*
img {
    opacity: 0.8;
}
*/

a img {
	vertical-align:middle;
}
span#eighty {
	color:#007236;
}
span#beans {
	color:#72BF44;
}
a:hover, a:hover span#eighty, a:hover span#beans {
	color:#444444;
	/*
	-moz-transform-origin:0px 15px;
	-moz-transform:matrix(1.0,0.0,0.0,-1,0px,0px);
	-moz-transform-origin:0px 15px;
	-webkit-transform:matrix(1.0,0.0,0.0,-1,0,0);
	-o-transform-origin:0px 15px);
	-o-transform:matrix(1.0,0.0,0.0,-1,0,0);
	*/

	/*opacity: 1;*/

    -moz-transform: scale(1.2) rotate(2deg);
    -webkit-transform: scale(1.2) rotate(2deg);
	-o-transform: scale(1.2) rotate(2deg);
}

h1 a:hover {
	color:#ddd;
}
div#wrapper {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	/*-moz-box-shadow:0 1px 0 #FFFFFF;*/
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5); 
	background-color:#EEEEEE;
	color:#222222;
	font-size:14px;
	line-height:190%;
	margin:0 auto 50px;
	padding:20px;
	text-shadow:0 1px 0 #FFFFFF;
	width:700px;
}

#content a {
	font-weight:bold;
}
.cnt a:hover{
	color: #28BAFF;
}

#content .posts li a {
	font-weight:normal;
	padding:5px;
}

#content .posts li a:hover {
	background:#ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

div#content img, div#content object {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 1px 0 #FFFFFF;
	-webkit-box-shadow:0 1px 0 #FFFFFF;
	-o-box-shadow:0 1px 0 #FFFFFF;
	/*border:5px solid #222222;*/
	/*width:680px;*/
}
div#content li {
	list-style:disc inside none;
	margin-left:10px;
}

div#content .cnt li {
	margin:5px 5px 5px 20px;
}
div#header {
	font-size:13px;
	margin:0 0 45px;
}
div#header ul {
	float:right;
	margin:0;
}
div#header li {
	float:left;
	margin:0 0 0 20px;
}
div#footer {
	margin:10px 0 0;
}
div#footer a#feed {
	float:right;
}
div#content ul.posts li {
	margin:7px 0 0;
	font-size:14px;
	list-style:none;
}

p.nav {
	color:#000;
	font-size:18px;
	font-weight:bold;
	margin:30px 0 10px;
}

p.nav + ul, p.nav + ul a, p.nav + div, p.nav + div a {
	color:#333;
}

p.nav + ul, p.nav + div {
	margin:0;
}

ul.posts li a {
	color:#333;
}

ul.index li {
	list-style:circle inside none;
	padding:0 0 5px 5px;
}

ul.posts li .date {
	float:right;
	color:#999;
	font-size:12px;
	margin:0;
}

/*
h1 {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 1px 0 #FFFFFF;
	background-color:#222222;
	color:#FFFFFF;
	display:inline;
	float:left;
	font-weight:400;
	line-height:150%;
	padding:10px;
	text-shadow:0 1px 0 #000000;
}
h1 a {
	color:#FFFFFF;
	font-weight:400;
}
*/
h2, h3, h4, h5, h6 {
	font-weight:900;
	line-height:100%;
}

h1 {
	font-size:35px;
	font-weight: 900;
	line-height:120%;
	margin-bottom:20px;
}
h2 {
	font-size:25px;
	line-height:100%;
	margin-bottom:20px;
}

#disqus_thread h3 {
	margin:20px 0;
	font-size:22px;
}

h4 {
	margin:10px 0;
}

li ul {
	margin:10px 0 10px 20px;
}

div#content li ul li {
	list-style:circle inside none;
}
.index h2 {
	margin-top:10px;
	margin-bottom:5px;
}
.cnt h3 {
	background:none repeat scroll 0 0 #DDDDDD;
	font-size:20px;
	margin:20px -20px;
	padding:10px 20px;
}
h4 {
	font-size:20px;
}
ul.columns {
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
	-o-column-gap:20px;
	-moz-column-width:215px;
	-webkit-column-width:215px;
	-o-column-width:215px;
}
.small, p.date, p#footnote, p#footnote a, del, del a {
	color:#888888;
}
.small, p#footnote {
	font-size:13px;
}
hr {
	clear:both;
	border:0;
	border-top:1px solid #999;
}
code, pre {
	font-family:"Monaco","Courier New",monospace;
	font-size:12px;
	line-height:150%;
}
pre {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5); 
	-o-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5); 
	background-color:#222222;
	color:#FFFFFF;
	font-size:13px;
	margin:0 0 0 -40px;
	padding:20px;
	text-shadow:0 1px 0 #000000;
	white-space:pre-wrap;
	width:740px;
	word-wrap:break-word;
}
div.notice {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 -1px 0 #FFFDDD;
	-webkit-box-shadow:0 -1px 0 #FFFDDD;
	-o-box-shadow:0 -1px 0 #FFFDDD;
	background-color:#FFFBBB;
	margin:0 0 5px -40px;
	padding:20px;
	text-shadow:0 1px 0 #DDDAAA;
	width:740px;
}
em {
	font-style:italic;
}
blockquote {
	font-style:italic;
	margin: 30px;
}
div#disqus_thread {
	margin:50px 0 0;
}
div.dsq-options, div.dsq-sharing-options, div.dsq-dc-logo, div#dsq-global-toolbar, div#dsq-pagination {
	display:none !important;
}
p.article_date {
	float:left;
	margin:0;
}
span#article_buttons {
	float:right;
	margin:20px 0;
	text-align:right;
}
span#article_buttons a {
	display:block;
}
a:hover span.balloon {
	display:inline;
}
span.balloon {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0 -1px 0 #444444;
	-webkit-box-shadow:0 -1px 0 #444444;
	-o-box-shadow:0 -1px 0 #444444;
	background-color:#222222;
	color:#FFFFFF;
	display:none;
	font-size:10px;
	font-weight:500;
	line-height:16px;
	margin:0 5px;
	padding:3px 5px;
	text-shadow:0 1px 0 #000000;
}

#sidebar {
	float:left;
	margin-left:-30px;
	text-transform:uppercase;
	width:20%;
}

#sidebar ul {
	list-style:none;
	margin: 2px 0;
	text-align:right;
	letter-spacing:1px;
}

#content.index {
	overflow:hidden;
}

#content #sidebar li {
	list-style:none;
	font-size:14px;
}

#content #sidebar li a {
	font-weight:bold;
	color:#444;
	padding:3px;
}

#content #sidebar li a:hover {
	background:#ddd;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	border:0;
}

#content #sidebar li ul li{
	color:#999;
	line-height:22px;
}

#content #sidebar li ul li a{
	color:#999;
	font-size:12px;
}

#main {
	float:right;
	width:80%;
}

#main .posts {
	margin-top:-5px;
}

#main h1 {
	/*color: #444444;*/
    font-size: 35px;
    font-weight: bold;
    margin: 0px 0 20px;
    /*padding: 5px;*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	/*background:#ddd;*/
	line-height:120%;
}

#logo {
	width:740px;
	margin:20px auto;
}

#logo h1 a{
	font-weight:bold;
	font-size:35px;
	color:#fff;
	letter-spacing:3px;
}

#content .cnt p {
	/*text-indent: 2em;*/
	margin: 20px 20px;
}

/*disqus*/
#content #dsq-comments li{
	list-style-type:none;
}
#content #dsq-content li{
	list-style-type:none;
}

.pagination{height:36px;margin:18px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#f5f5f5;}
.pagination .active a{color:#999999;cursor:default;}
.pagination .disabled a,.pagination .disabled a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}

div#content .tag_box li {
	list-style: none inside none;
}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #DDD;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/*code,pre{padding:0 3px 2px;font-family:Menlo,Monaco,"Courier New",monospace;font-size:12px;color:#333333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}*/
.cnt p code{font-family: Menlo,Monaco,"Courier New",monospace;padding:3px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;}
/*pre{display:block;padding:8.5px;margin:0 0 9px;font-size:12px;line-height:18px;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;white-space:pre;white-space:pre-wrap;word-break:break-all;word-wrap:break-word;}pre.prettyprint{margin-bottom:18px;}*/
/*pre code{padding:0;color:inherit;background-color:transparent;border:0;}*/