<div id="content" class="index">
	<div id="sidebar">
		<ul>{% assign pages_list = site.pages %}{% assign group = 'navigation' %}{% include JB/pages_list %}
			<li>
				<a href="javascript:void(0);">LINKS</a>
				<ul id="links">
					<li><a href="javascript:void(0);">your link</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="main">
		<div class="page-header">
			<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
		</div>
		<div class="row">
		  <div class="span12">
		    {{ content }}
		  </div>
		</div>
	</div>
</div>
